* { font-family:'proximanova',Arial,sans-serif; color:whitesmoke; }
h1 {font-family:'proximanova',Arial,sans-serif; font-weight:100; font-size:2.75em; }
h2 { margin-top: 0; font-family:'proximanova',Arial,sans-serif; font-weight:600; font-size:4em; } 
a { color:#c11a08; } 
a:hover { color:#c11a08; text-decoration: underline; } 

body { padding-top: 50px; background:#000;
  	background-image: url(images/background.jpg); background-repeat: no-repeat; background-size:100%; }

.containerpad { padding-left:2.5em; padding-right:2.5em; }

.starter-template { padding: 40px 15px; text-align: center; }

.navbar-inverse { background:none; border:none; }

.colorbg {background-color:orange;}

.progressbar {background:whitesmoke; width:100%; height:3em; border:none }
.ui-widget-header { background: #c11a08; }
.ui-corner-all { border: none; }

		.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-left {
		-moz-border-radius-bottomright: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-khtml-border-bottom-right-radius: 0px;
		border-bottom-right-radius: 0px;
		}
		.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
		-moz-border-radius-bottomleft: 0px;
		-webkit-border-bottom-left-radius: 0px;
		-khtml-border-bottom-left-radius: 0px;
		border-bottom-left-radius: 0px;
		}
		.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
		-moz-border-radius-topright: 0px;
		-webkit-border-top-right-radius: 0px;
		-khtml-border-top-right-radius: 0px;
		border-top-right-radius: 0px;
		}
		.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
		-moz-border-radius-topleft: 0px;
		-webkit-border-top-left-radius: 0px;
		-khtml-border-top-left-radius: 0px;
		border-top-left-radius: 0px;
		}


.libraryimage img { position: relative; width: 100%; /* for IE 6 */ /*border-bottom:50px solid #000;*/ }

.libraryimage div { position: absolute; left: 0; width: 100%; bottom: 0px; left: 0; margin:0 auto; text-align: center; 
			padding-top:.9em; padding-bottom:.9em; background: rgb(0, 0, 0); /* fallback color */ background: rgba(0, 0, 0, 0.65); }

span { color: white; font: bold 18px/25px Helvetica, Sans-Serif; letter-spacing: 1px; font-weight:normal; }


#osu-info { background-image: url(images/bg-footer.jpg); height: 250px; padding-left: 90px; padding-top: 25px; }




