/* OSU Navbar styles (non-responsive)*/

#osu_navbar {clear:both; margin:0; padding:0; background: #eaeaea url(../images/bg-navbar_red.jpg) left bottom repeat-x; overflow:hidden;}
#osu_navbar * {font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; font-size:13px;line-height:1.5;}
/* University info */
#osu_navbar p {margin:0; padding:0;}
#osu_navbar .univ_info {float:left; padding: 1em 0 ;}
#osu_navbar .univ_links {float:right; clear:none; padding: 1em 0 0; margin-top:-2px; *margin-left:370px;}
#osu_navbar .univ_name a {height:16px; width:70px; display:block; text-indent:-9999px; background: url(../images/osu_name.png) 0 0 no-repeat;/*  margin-left:20px; */}

/* Links */
#osu_navbar div.links {float:left; margin-bottom:10px;}
#osu_navbar div.links ul {margin:0;}
#osu_navbar div.links ul li {list-style:none; float:left; margin-right:1em;}
#osu_navbar div.links ul li a {color:#333; text-decoration: none;}
#osu_navbar div.links ul li a:hover {text-decoration: underline;}

/* Search form */
#osu_navbar div.search {display:inline-block;}
#osu_navbar div.search form {float:right; clear:none; margin-top:-.4em;}
#osu_navbar div.search input[type="text"] {color:#999; font-style:italic; padding-left:3px; border:1px solid #aaa;
    /* For modern browsers */
    -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
#osu_navbar div.search input[type="text"]:focus {}
#osu_navbar div.search button[type="submit"] {width:23px; height:18px; border: none; cursor:pointer; text-indent:-9999px; background: transparent url(../images/button-search.png) no-repeat top left; margin:2px 0 0; *font-size:0px; padding:0;}
#osu_navbar div.search button[type="submit"]:hover {background: transparent url(../images/button-search.png) no-repeat 0 -18px;}

.osu-semantic {display:none;}


/* --------------------------
   Responsive
   --------------------------
   Must include: <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> in the <head> of the html file
*/


/* Retina icons */
@media only screen and (max-width: 700px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 700px) and (min--moz-device-pixel-ratio: 2),
only screen and (max-width: 700px) and (-o-min-device-pixel-ratio: 2/1),
only screen and (max-width: 700px) and (min-device-pixel-ratio: 2) {
    #osu_navbar .univ_name a {background-image: url(../images/osu_name@2x.png) !important;
    /* scale name background size */
    -webkit-background-size: 70px 16px; -moz-background-size: 70px 16px; background-size: 70px 16px;}
  #osu_navbar div.links ul li a.help {background-image:url(../images/resp-help@2x.png) !important;}
  #osu_navbar div.links ul li a.buckeyelink {background-image:url(../images/resp-buckeyelink@2x.png) !important;}
  #osu_navbar div.links ul li a.map {background-image:url(../images/resp-map@2x.png) !important;}
  #osu_navbar div.links ul li a.findpeople {background-image:url(../images/resp-findpeople@2x.png) !important;}
  #osu_navbar div.links ul li a.webmail {background-image:url(../images/resp-webmail@2x.png) !important;}
  #osu_navbar div.links ul li a.search {background-image:url(../images/resp-search@2x.png) !important;}

  /* scale icon background size */
  #osu_navbar div.links ul li a.help,
  #osu_navbar div.links ul li a.buckeyelink,
  #osu_navbar div.links ul li a.map,
  #osu_navbar div.links ul li a.findpeople,
  #osu_navbar div.links ul li a.webmail,
  #osu_navbar div.links ul li a.search { -webkit-background-size: 23px; -moz-background-size: 23px; background-size: 23px;}

}